<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  {{#if user}}
    <p>Welcome, {{user}}!</p>
    <a href="/logout">Logout</a>
  {{/if}}
  <h1>Product List</h1>
  <div id="productGrid">
    {{#each products}}
      <div class="productCard">
        <h2>{{this.title}}</h2>
        <p>Precio: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <button onclick="deleteProduct({{this.id}})">Eliminar</button>
      </div>
    {{/each}}
  </div>
</body>
</html>
